/* MAIN FOR BROWSER CONSISTENCY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
    --surface: #ffffff;
    --border: #d9d9d9;
    --accent: #2f6fed;
    --text: #222222;
    --background: #f8f9fa;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between; /* Pushes logo left and links right */
  align-items: center;            /* Centers items vertically */
  background-color: #333;         /* Dark background */
  padding: 15px 30px;             /* Spacing inside the bar */
  position: sticky;               /* Keeps bar fixed at the top while scrolling */
  top: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none; /* Removes list bullet points */
}

.nav-links li {
  margin-left: 20px; /* Spaces out links from one another */
}

.nav-links a {
  color: #f2f2f2;
  text-decoration: none; /* Removes underline from links */
  font-size: 16px;
  padding: 8px 12px;
  transition: all 0.3s ease; /* Smooth hover transition effect */
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #555;
  color: #fff;
}

.nav-links a.active {
  background-color: #048CAA; /* Distinct color for active/current page */
  color: white;
}

/* PAGE CONTAINERS and SECTIONS */

 .container {
  max-width:1200px;
  margin: 0 auto;
  padding: 60px;
  border: 3px solid blue;
}

section {
    margin-top: 35px;
}

section h1 {
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
section h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
section h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
}


/* HERO */
.hero{
  margin:40px auto;
  border: 3px solid red;
}

.hero-layout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  border: 3px solid blue;
}

.hero-image {
    width: 380px;
    height: 380px;
    background: #d9d9d9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  border: 3px solid green;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
}

.hero-text {
    border: 3px solid orange;
}

/* ABOUT ME */
.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 4rem auto;
}

.about-card {
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 18px;
    padding: 2rem;
    transition: all 0.3s ease;
}

.about-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

.about-card h3{
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-bottom: 1.2rem;
}

/* RESEARCH */

/* PUBLICATIONS */

.publication-header {
  display: flex;
  list-style: none; /* Removes list bullet points */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;  
}

.publication-links {
  display: flex;
  list-style: none; /* Removes list bullet points */
  gap: 20px
}

.publication-links a {
  text-decoration: none; /* Removes underline from links */
  font-size: 16px;
  padding: 8px 12px;
  transition: all 0.3s ease; /* Smooth hover transition effect */
  border-radius: 4px;
}

.publication-list {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 40px;
}

.publication-list li {
    margin-bottom: 1.5em;
}

.publication-list a {
    text-decoration: none;
}

.publication-list a:hover {
    text-decoration: underline;
}

/* CONTACT ME */

/* FOOTER */
.footbar {
  display: flex;
  justify-content: space-between; /* Pushes logo left and links right */
  align-items: center;            /* Centers items vertically */
  background-color: #333;         /* Dark background */
  padding: 15px 30px;             /* Spacing inside the bar */
  position: sticky;               /* Keeps bar fixed at the top while scrolling */
  top: 0;
  z-index: 1000;
}

.foot-logo {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.foot-links {
  display: flex;
  list-style: none; /* Removes list bullet points */
}

.foot-links li {
  margin-left: 20px; /* Spaces out links from one another */
}

.foot-links a {
  color: #f2f2f2;
  text-decoration: none; /* Removes underline from links */
  font-size: 16px;
  padding: 8px 12px;
  transition: all 0.3s ease; /* Smooth hover transition effect */
  border-radius: 4px;
}

.foot-links a:hover {
  background-color: #555;
  color: #fff;
}
