/* GLOBAL */

:root {
    /* Colors */
    --background: #FDFBF7;   /* Soft Cream White */
    --text: #333333;         /* Dark Grey */
    --text-muted: #888888;   /* Light Grey */
    --text-light: #FDFBF7;   /* Soft Cream White */
    --accent: #00296B;       /* Dark Navy Blue */
    --border: #333333;       /* Dark Grey */

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 3rem;
    --space-xl: 5rem;

    /* Layout */
    --content-width: 1200px;
    --side-padding: 2rem;

    /* Effects */
    --shadow-sm: 0 2px 8px rgba(0,0,0,0.08);     /* Shadow: Horizontal Offset, Vertical Offset, Blur radius, (color, opacity) */
    --shadow-lg: 0 10px 30px rgba(0,0,0,0.12);

    --radius: 10px;                              /* corner roundess */
}

html,
body {
    margin: 0;                           /* Outside spacing - set to 0 to remove unwanted browser auto spacing */
    padding: 0;                          /* Inside spacing - set to 0 to remove unwanted browser auto spacing */
    background-color: var(--background);
    color: var(--text);
    font-family: "Roboto", sans-serif;   /* Main body text */
}

.container {
    width: min(100% - 4rem, 1200px); /* Establishes a universal content width */
    margin-inline: auto;
}

section > h2 {                                 /* Consistent section headers */
    background: var(--accent);                 /* Color behind text */
    color: var(--text-light);                  /* Text color */
    padding: var(--space-sm) var(--space-md);  /* Inside element spacing: top/bottom left/right */
    margin: 0 0 var(--space-md);               /* Outside element spacing: top left/right bottom */
    
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}

section {
    scroll-margin-top: 50px;
}

/* NAVIGATION */
.navbar {
    display: flex;                  /* Arranges child elements in a line */
    justify-content: space-between; /* Pushes child 1 left and child 2 right */
    align-items: center;            /* Centers items vertically */
    background-color: #333;         /* Dark Grey background */
    padding: 0.3rem 2rem;          /* Inside spacing: top/bottom left/right */
    position: sticky;               /* Keeps bar fixed at the top while scrolling */
    top: 0;                         /* Nav bar at the very top of the page */
    z-index: 1000;                  /* Nav bar on top of all other elements */
}
.logo {
    color: var(--text-light); /* Text color */
    font-weight: 700;         /* Bold - see Cheat Sheet */
    font-size: 1rem;
}
.nav-links {
    display: flex;     /* Arranges child elements in a line */
    gap: 2rem;         /* Spaces links apart from eachother */
    list-style: none;  /* Don't add list bullet points */
}
.nav-links a {
   color: var(--text-light);    /* Text color */
   text-decoration: none;       /* Remove link underline */
   font-size: 1rem;               
   padding: 0.5rem 0.75rem;    /* Sets clickable area around text  */
   transition: all 0.3s ease;   /* Animate style change over seconds smoothly */
   border-radius: 4px;          /* Slightly round corners of clickable area */
}
.nav-links a:hover {
   color: var(--text-light);    /* Text color */
   background-color: #555;      /* Color in clickable area */
}
.nav-links a:visited {
   color: var(--text-light);    /* Text color after link is clicked */
}

/* HERO */
.hero {
    display: grid;                     /* Use grid for layouts */
    grid-template-columns: 45% 55%;    /* Two columns, column 1 uses 45% and column 2 55% of screen  */
}
.hero-image {
    width: 100%;    /* Fill allocated parent width (i.e. grid of 45%) */
    height: 100%;   /* Fill allocated parent height (i.e. grid of 45%) */
}
.hero-image img {
    width: 100%;          /* Fill allocated parent width (i.e. .hero-image) */
    height: 100%;         /* Fill allocated parent height (i.e. .hero-image) */
    display: block;       /* Make image not and in-line image */
    object-fit: cover;    /* Fill entire box, even if crop needed */
}
.hero-text {
    padding: var(--space-xl) var(--space-xl) var(--space-md);    /* Inside Spacing: T R/L B */
}
.hero-text h1 {
    margin-bottom: 1.2rem;
}
.hero-text h2 {
    margin-bottom: 1.2rem;
}
.hero-text p {
    margin-bottom: 1.2rem;    /* Line spacing between paragraphs */
    line-height: 1.7;         /* line spacing within paragraphs */
}
.hero-bottom {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}
.hero-bottom h3 {
    margin-top: 1.8rem;
}
.education {
    flex: 2;    /* Takes up 2 of 3 flex spaces */
}
.contact {
    flex: 1;    /* Takes up 1 of 3 flex spaces */
}
.education-item {
    display: flex;
    gap: 1rem;
    
}
.education-item img {}
.educatio-info {}
.educatio-info h4 {}
.educatio-info p {}
.socials {
    display: flex;
    gap: 1rem;
}
.socials img {}





/* ABOUT ME */
/* MY RESEARCH */
/* LEADERSHIP */
/* MENTORSHIP & TEACHING */
/* MY PUBLICATIONS */
/* MY AWARDS */
/* FOOTER */
/* MOBILE STYLING */

@media (max-width: 768px) {
    section > h2 {
        padding: 0.7rem 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }
}
