/* MAIN FOR BROWSER CONSISTENCY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  color-scheme: light dark;  
  /* Colors */
    --background: #333333;
    --surface: #ffffff;
    --text: #ffffff;
    --text-light: #6b7280;
    --accent: #2563eb;
    --border: #e5e7eb;

    /* Shadows */
    --shadow-sm: 0 2px 8px rgba(0,0,0,0.08);
    --shadow-lg: 0 10px 30px rgba(0,0,0,0.12);

    /* Border Radius */
    --radius: 18px;
}

body {
  background-color: light-dark(#ffffff, #333333);
  color: light-dark(#222222, #ffffff);
}



/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between; /* Pushes logo left and links right */
  align-items: center;            /* Centers items vertically */
  background-color: #616161;         /* Dark background */
  padding: 15px 30px;             /* Spacing inside the bar */
  position: sticky;               /* Keeps bar fixed at the top while scrolling */
  top: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none; /* Removes list bullet points */
}

.nav-links li {
  margin-left: 20px; /* Spaces out links from one another */
}

.nav-links a {
  color: #f2f2f2;
  text-decoration: none; /* Removes underline from links */
  font-size: 16px;
  padding: 8px 12px;
  transition: all 0.3s ease; /* Smooth hover transition effect */
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #555;
  color: #fff;
}

/* HERO */
/* IMAGES */
/* POETRY */
/* PUBLICATIONS */
/* AWARDS */




/* FOOTER */
.footbar {
  display: flex;
  justify-content: space-between; /* Pushes logo left and links right */
  align-items: center;            /* Centers items vertically */
  background-color: #333;         /* Dark background */
  padding: 15px 30px;             /* Spacing inside the bar */
  position: sticky;               /* Keeps bar fixed at the top while scrolling */
  top: 0;
  z-index: 1000;
}

.foot-logo {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.foot-links {
  display: flex;
  list-style: none; /* Removes list bullet points */
}

.foot-links li {
  margin-left: 20px; /* Spaces out links from one another */
}

.foot-links a {
  color: #f2f2f2;
  text-decoration: none; /* Removes underline from links */
  font-size: 16px;
  padding: 8px 12px;
  transition: all 0.3s ease; /* Smooth hover transition effect */
  border-radius: 4px;
}

.foot-links a:hover {
  background-color: #555;
  color: #fff;
}
