body {

    background:#efefef;

    margin:0;

    font-family:Times, sans-serif;

    color:#333;

}


.container {

    width:8.5in;

    min-height:11in;

    margin:40px auto;

    background:white;

    padding:0.7in;

    box-sizing:border-box;

    box-shadow:0 0 15px rgba(0,0,0,0.12);

}


.cv-header {

    text-align:center;

    margin-bottom:45px;

}


.cv-title {

    font-weight:bold;

    font-size:18px;

    margin-bottom:25px;

    text-transform:uppercase;

}


.name {

    font-style:italic;

    font-size:34px;

    font-weight:500;

    margin:0 0 20px 0;

}


.contact,
.links {

    font-size:14px;

    margin-top:10px;

}


a {

    color:#163A5F;

    text-decoration:none;

}


a:hover {

    text-decoration:underline;

}


section {

    margin-top:35px;

}


section h2 {

    font-size:16px;

    text-transform:uppercase;

    border-bottom:1px solid #163A5F;

    padding-bottom:5px;

}
.cv-entry {

    display:grid;

    grid-template-columns:150px 1fr;

    column-gap:30px;

    margin-bottom:12px;

}


.cv-date {

    text-align:right;

    font-size:15px;

    color:#666;

    line-height:1.4;

}


.cv-details h3 {

    margin:0 0 8px 0;

    font-size:16px;

    font-weight:bold;

}


.institution {

    margin:3px 0;

    font-size:15px;

}


.location {

    margin-top:5px;

    color:#666;

    font-style:italic;

    font-size:14px;

}

.cv-skillscat {

    text-align:right;

    font-size:15px;

    font-style:italic;

    color:#666;

    line-height:1.4;

}

.cv-subheading {

    font-size:16px;

    font-style:italic;

    font-weight:bold;

    margin-top:25px;

    margin-bottom:10px;

}


.publication-list {

    font-size:14px;

    line-height:1.5;

    margin-top:0;

    padding-left:25px;

}


.publication-list li {

    margin-bottom:10px;

}
